*.pyc
*.pyo
*.mo
*~

.DS_Store
.coverage
db.sqlite3
project/db.sqlite3
uwsgi.ini
log/**
!log/placeholder

hiddenhistory/settings/production.py
# виртуальное окружение
/bin/
/bin/*

/lib/
/lib/*

pyvenv.cfg

# Приватные файлы
/private/*
token.pickle
dataRussia.db
credentials.json

# медиа файлы
hiddenhistory/media
hiddenhistory/media/*
media/*
media/**
!media/**/init.txt
project/media/
*.png

**/__pycache__/**
**/migrations/**
!**/migrations
!**/migrations/__init__.py
