*.pyc
*.pyo
*.mo
*~

.DS_Store
.coverage
db.sqlite3
project/db.sqlite3
uwsgi.ini
log/**
!log/placeholder

# Приватные файлы
/private/*
token.pickle
dataRussia.db
credentials.json

# медиа файлы
media/*
media/**
!media/**/init.txt
project/media/
*.png

**/__pycache__/**
**/migrations/**
!**/migrations
!**/migrations/__init__.py
