$background: #F6F6F2;
$font_main: #000000;

$ascent_blue: #9FC7D3;
$ascent_red: #CD471C;
$ascent_gray: #999999;
$light_gray: #E9E6E1;

$size_10_column: 88rem;
$size_8_column: 70rem;
$size_6_column: 52rem;
$size_5_column: 43rem;
$size_4_column: 34rem;
$size_2_column: 16rem;


html {
    font-size: 0.59vw;
}

body {
    background: $background;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.content-wrapper {
    padding: 5rem 0;
}

.content-10-column {
    max-width: $size_10_column;
    margin: 0 auto;
    padding: 0 20px 50px 20px;
}


.content-8-column {
    max-width: $size_8_column;
    margin: 0 auto;
    padding: 0;
}

.content-6-column {
    margin: 0;
    max-width: $size_6_column;
    margin-left: calc(100% - #{$size_6_column});
    padding: 2rem 0;
}

.content-5-column {
    margin: 0;
    max-width: $size_5_column;
    padding: 5rem 0;
}

/*----------------------- Типографика ------------------------------ */

.longread-h2 {
    margin: 60px 0 0 0;
    font-size: 2.2rem;
    line-height: 2.8rem;
}

p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

b {
    font-size: 1.6rem;
}

.text-intro {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3rem;
    padding: 0;
}

.text-regular {
    padding: 1rem 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.text-annotation-wide {
    width: 100%;
    font-size: 1.6rem;
    line-height: 2.5rem;
    border-top: 6px solid $light_gray;
    border-bottom: 6px solid $light_gray;
    padding: 30px 0;
    margin: 60px 0 30px 0;
}

.text-annotation-wide a {
    color: $font_main;
}

.number {
    margin: 6rem 0 4rem 0;
}
.number {
    .prefix, .measure {
        color: $ascent_red;
        font-size: 4.8rem;
        line-height: 5rem;
        font-weight: 800;
    }

    .value {
        color: $ascent_red;
        font-size: 6.4rem;
        line-height: 7rem;
        font-weight: 800;
    }

    .caption {
        font-size: 1.8rem;
        font-weight: 600;
        display: block;
        padding: 0.5rem 0;
    }
}
.quote-section {
    margin: 30px 0 30px $size_2_column;
    padding: 2rem 0;
    max-width: $size_10_column;
    font-style: italic;
    border-top: 1px solid $ascent_gray;
    border-bottom: 1px solid $ascent_gray;
}

.quote-section {

    .quote-content {
        max-width: $size_6_column;
        margin: 0 auto;
    }
    .quote-text {
        font-size: 2rem;
        line-height: 3rem;
    }
    .quote-author {
        display: block;
        color: $ascent_red;
        font-size: 2rem;
    }
    .author-titul {
        display: block;
        color: $ascent_red;
        font-size: 1.4rem;
    }
}

.in-text-ul {
    list-style: none;
    margin: 4rem 0;
    font-size: 1.6rem;
    line-height: 2.5rem;
    padding-left: 3rem;
    text-indent: -3rem;
}

.in-text-ul {

    li {
        margin: 1.5rem 0;
    }
    li:before {
        content: "—";
        font-size: 2rem;
        margin-right: 1rem;
        color: $ascent_red;

    }
}

/*----------------------- Всупительный баннер ------------------------------ */

.site-header {
    height: 700px;
    background-image: url("https://storage.yandexcloud.net/hh-files/history/photo/cover-3.jpg");
    background-size: cover;
}

.site-header {

    .header-container {
        max-width: 120rem;
        margin: 0 auto;
        padding: 2rem;
    }
    h1 {
        max-width: 60rem;
        font-size: 2rem;
        padding-top: 3rem;
    }
    h1 b {
        text-transform: uppercase;
        font-size: 4.7rem;
        color: $ascent_red;
    }
    h1 small {
        font-size: 1.6rem;
        font-weight: normal;
        display: block;
        margin-top: 20px;
        max-width: 45rem;
    }
}

/*----------------------- Заголовок главы ------------------------------ */

.chapter-header {
    max-width: $size_10_column;
    margin: 0 auto;
    padding: 0 20px;
}

.chapter-header {


    .chapter-header-top {
        margin: 0 auto;

        max-width: $size_6_column;
        margin-left: calc(100% - #{$size_6_column});
    }

    .chapter-header-top {
        span {
            color: $ascent_red;
        }
        .chapter-num {
            display: block;
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        .year {
            font-size: 7.7rem;
            font-weight: 800;
            line-height: 8rem;
        }
        .year b {
            font-size: 9.6rem;

        }
    }

    .chapter-header-bottom {
        margin: 0 auto;
        padding: 20px 0;
        max-width: $size_6_column;
        margin-left: calc(100% - #{$size_6_column});
    }

    .chapter-header-bottom h1 {
        max-width: $size_6_column;
        display: inline-block;
        font-size: 2.4rem;
        font-weight: 600;
        margin: 0 auto;
        padding: 10px 0;
        border-top: 1px solid $ascent_gray;
        border-bottom: 1px solid $ascent_gray;
    }
}

/*----------------------- Изображения ------------------------------ */


.img-section-inline {
    position: relative;
    margin: 30px 0 50px 0;
    padding: 0;
}

.img-section-left {
    position: absolute;
    margin: 1rem 0;
    top: 0;
    right: calc(#{$size_6_column + 4rem});
}

.paragraph-with-img {
    position: relative;
}

.img-section-inline {
    .img-caption {
        position: absolute;
        top: 0;
        left: 0;
        width: 16rem;

    }

    img {
        margin-left: 18rem;
        width: calc(#{$size_10_column - 18rem});
        height: auto;
    }
}

.img-section-left {
    img {
        max-width: 50rem;
        width: 100%;
        height: auto;
    }
}

.img-section .img-caption,
.img-section .img-caption a {
    color: $ascent_gray;
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.svg-object {
    margin: 0 0 40px 0;
    padding: 0;
}

.svg-object {
    .svg-fig-caption {
        display: block;
        max-width: $size_6_column;
        font-size: 1.6rem;
        margin-left: calc(100% - #{$size_6_column});
        margin-bottom: 20px;
    }
    object {
        width: 100%;
    }
}


/*----------------------- Навигация ------------------------------ */

.timeline-navigation {
    padding: 10px 0 20px 0;
}
.timeline-navigation {
    .timeline-item {
        display: block;
        color: $font_main;
        font-size: 1.6rem;
        position: relative;
        margin: 10px 0;
    }
    b {
        position: absolute;
        top: 0;
        left: 0;

        color: $ascent_red;
    }
    span {
        display: inline-block;
    }

    .years-range span {
        margin-left: 10rem;
    }

    .year-single span {
        margin-left: 7rem;
    }
}
.article-pagination {
    a {
        color: $font_main;
        font-size: 1.8rem;
        font-weight: bold;
        text-decoration: none;
        padding: 10px 0;
        display: block;
        text-indent: -3rem;
        max-width: $size_6_column;
        margin-left: calc(100% - #{$size_6_column});

    }


    .previous-page:before {
        content: "←";
        font-size: 2rem;
        width: 2rem;
        padding-right: 1rem;
    }

    .next-page:before {
        content: "→";
        font-size: 2rem;
        width: 2rem;
        padding-right: 1rem;
    }
}



@media screen and (max-width: 1440px) {
    html {
        font-size: 0.7vw;
    }

    .site-header {
        height: 500px;
    }
}

@media screen and (max-width: 1280px) {
    .site-header {
        height: 400px;
    }
    .site-header {

         h1 {
            padding-top: 20px;
        }

        h1 small {
            max-width: 400px;
        }
    }
}

@media screen and (max-width: 800px) {

    html {
        font-size: 1.3vw;
    }

    .img-section {
        overflow: hidden;
    }
    .img-section-inline {
        .img-caption {
            position: relative;
            width: 100%;
            color: $ascent_gray;
            padding: 0 0 20px 0;
        }

        img {
            max-width: 100%;
            margin-left: 0;
            height: auto;
        }
    }

    .img-section {
        max-width: 100%;
    }

    .img-section-left {
        position: relative;
        margin: 1rem 0;
        top: 0;
        right: 0;
    }

    .quote-section {
        margin: 30px 0 50px 30px;
    }
}

@media screen and (max-width: 580px) {

    html {
        font-size: 2.2vw;
    }

    .content-6-column,
    .chapter-header .chapter-header-top,
    .chapter-header .chapter-header-bottom {
        margin-left: auto;
    }

    .article-pagination a {
        margin-left: 30px;
    }

    .svg-object {
        .svg-fig-caption {
            margin-left: auto;
        }
    }

}

@media screen and (max-width: 520px) {
    .quote-section {
        margin: 30px 0;
    }
}


@media screen and (max-width: 440px) {
    .in-text-ul {
        list-style: none;
        margin: 40px 0;
        padding-left: 30px;
        text-indent: -30px;
    }
    .site-header {

        h1 {
            max-width: 600px;
            font-size: 1.6rem;
        }
        h1 b {
            text-transform: uppercase;
            font-size: 4rem;
            color: $ascent_red;
        }
        h1 small {

        }
    }

}
@media screen and (max-width: 380px) {
    html {
            font-size: 2.6vw;
        }

    .site-header {
        h1 {
            max-width: 600px;
            font-size: 14px;
        }
        h1 b {
            text-transform: uppercase;
            font-size: 32px;
            color: $ascent_red;
        }
        h1 small {

        }
    }
}
