html, body {
        padding: 0;
        margin: 0;
        bottom: 0;
        background: #f6f6f2;
    }

html {
	font-size: 0.59vw;
	font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: "Yeseva One";
    src: url("https://storage.yandexcloud.net/hh-files/fonts/YesevaOne-Regular.ttf"),
        url("../fonts/YesevaOne-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: italic;
    src: url("https://storage.yandexcloud.net/hh-files/fonts/OpenSans-Italic.ttf"),
        url("../fonts/OpenSans-Italic.ttf");
}


p {
	margin: 0;
	margin-bottom: 3rem;
	margin-top: 2rem;
	font-size: 1.6rem;
	line-height: 2.5rem;

}

h2, h3, h4 {
    font-family: "Yeseva One";
    font-weight: normal;
    margin: 0;
}
h2 {
	font-size: 3.2rem;
	line-height: 3.5rem;
}

h3 {
    font-size: 2.2rem;
}

h4 {
	margin-bottom: 10px;
}

.secondary-text {
    color: #B1B1B1;
}

.help-text {
    font-size: 1.4rem;
    color: #B1B1B1;
}

a {
    color: #000;
}

/*----------------------- Общие стили ------------------------------ */

body {
	font-weight: normal;
	position: relative; 	
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
	background: #F6F6F2;
	font-size: 1.6rem;
	min-height: 100vh;
}

.map-wrapper {
    position: relative;
    background: #f6f6f2;
    width: 100%;
    min-height: calc(100vh - 50px);
}

.no-map-content {
    padding: 60px 10px;
    max-width: 88rem;
    margin: 0 auto;
    pointer-events: all;
}

button {
	margin-right: 20px;
	cursor: pointer;
}

input, select {
	padding: 10px;
	border-radius: 4px;
	font-size: 14px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -khtml-border-radius: 4px;
}

.centered-content-wrapper {
    max-width: 88rem;
    margin:0 auto;
    padding: 40px 0;
}


/*----------------------- Формы общие ------------------------------ */

.operation-result-message {
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 20px;
	max-height: 100px;
	overflow-y: scroll;
	width: calc(100% - 20px);
}

.form-operation-status{
	min-height: 20px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #545454;
}

.input-element .input-header {
    font-weight: bold;
}

.ajax-update-form .input-element{
	width: 100%;
	margin-right: 10px;
	margin-bottom: 20px;
}

.ajax-update-form .input-element input {
	width: 100%;
	border: solid 1px #e8e8e8;
}

.ajax-update-form .input-element input[type="checkbox"] {
    width: auto;
}

.ajax-update-form .input-element input:focus {
    outline: 1px solid #000;
}

.ajax-update-form .input-element .text-input {
    width: calc(100% - 20px);
}

.automated-graphic-container {
    min-height: 500px;
}

.ajax-update-form img {
    height: 400px;
    width: auto;
    max-width: 100%;
}

.nice-select {
    float: none;
}

.form-progress-bar-section {
    width: 100%;
}

.form-progress-bar-section progress {
    width: 100%;
}
.form-progress-bar-section .upload-status {
    display: inline-block;
    margin: 0;
}
.form-progress-bar-section .upload-bytes-counter {
    float: right;
}


/*----------------------- Карта ------------------------------ */

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 5rem);

}

.time-range-slider {
    position: absolute;
    width: calc(100% - 30px);
    margin-left: 15px;
    z-index: 11000;
    bottom: 0px;
}

.leaflet-control-layers {
    background: #f6f6f2;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #f6f6f2;
}

.jsr_slider:focus::before {
    background: #CD471C;
}

.leaflet-tooltip img {
    max-height: 100px;
}


/*----------------------- Навигация ------------------------------ */


.main-menu-wrapper {
    padding: 1rem 0;
    border-bottom: 1px solid #BABAB3;
    height: 3rem;
}

.main-menu a {
    text-decoration: none;
    margin-right: 2rem;
    color: #000;
}

.menu-button {
    padding: 1rem;
    width: 1.4rem;
	height: 1.4rem;
	cursor: pointer;
	display: none;
    opacity: 0;
    background: #222222;
    border: 1rem solid #222222;
    transition: .5s ease-in-out;
}

#sharing-menu-button {
    background-image: url("../img/sharing-menu.svg");
    background-size: 90%;
    background-repeat: no-repeat;
}

.open-button {
	z-index: 9999;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
}

.open-button span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #F6F6F2;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}


.open-button span:nth-child(1) {
	top: 0.3rem;
	transform-origin: left center;
}

.open-button span:nth-child(2) {
	top: 1.4rem;
	transform-origin: left center;
}

.open-button span:nth-child(3) {
	top: 2.6rem;
	transform-origin: left center;
}

.open-button.open span:nth-child(1) {
	transform: rotate(45deg);
	top: 0.1rem;
	left: 0px;
}

.open-button.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.open-button.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 2.5rem;
	left: 0px;
}

/*------------------- Меню - шаринги ------------------ */

.share-menu .share-link {
    background: transparent;
    width: 20px;
    height: 20px;
    padding: 5px;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
}

.share-menu .badge {
    width: 20px;
    height: 20px;
    display: block;
    background-size: 20px 20px;
    background-position: center;
    color: #000;
}
.share-menu .share_button_fb .badge {
    background-image: url("../img/share-fb.svg");
}

.share-menu .share_button_vk .badge {
    background-image: url("../img/share-vk.svg");
}

.share-menu .share_button_tw .badge {
    background-image: url("../img/share-tw.svg");
}

.share-menu .share_button_ok .badge {
    background-image: url("../img/share-ok.svg");
}

.share-menu .share_button_tg .badge {
    background-image: url("../img/share-tg.svg");
}

/*----------------------- Меню на декстопе ------------------- */
/*--- Класс desktop-menu добавляется к меню с помощью JS ----- */
/*--- При этом в виде шапки в верхней части страниц ---------- */

.desktop-menu .main-menu {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 88rem;
    position: relative;
}

.desktop-menu .nested {
    display: none;
}

.main-menu-wrapper.desktop-menu {
    padding: 1rem 0;
    border-bottom: 1px solid #BABAB3;
}

.main-menu-wrapper.desktop-menu .main-menu-nav {
    line-height: 3rem;
}

.desktop-menu .share-menu {
    list-style: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.desktop-menu .share-menu li {
    display: inline-block;
}




/*----------------------- Мобильное меню -------------------- */
/*--- Класс mobile-menu добавляется к меню с помощью JS ----- */
/*--- При этом вид меню переключается на гамбургер ---------- */

.mobile-menu {
    padding: 0;
    position: fixed;
    width: 100vw;
    z-index: 8888;
}


.mobile-menu .menu-container {
    width: 100%;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.mobile-menu .menu-button {
    display: inline-block;
    opacity: 1;
}

.main-menu-wrapper.mobile-menu  {
    border-bottom: none;
    font-size: 0;
}

.mobile-menu .main-menu {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    background: none;
    max-width: 40rem;
}


.mobile-menu .hidden-menu {
    display: none;
    height: 0px;
    top: 50px;
    z-index: 15100;
    width: 100%;
    transition: .25s ease-in-out;
    box-shadow: 1px 1px 7px 2px rgba(20, 20, 20, 0.18);
}

.mobile-menu .main-menu-nav {
    background: #F6F6F2;
}

.mobile-menu .main-menu-nav a {
    display: block;
    height: 3rem;
    padding: 10px 20px;
    background: #F6F6F2;
}

.mobile-menu .main-menu-nav .nested:before {
    content: "—";
    font-size: 2rem;
    margin-right: 1rem;
    color: #CD471C;
}

.mobile-menu .mobile-menu-open {
    display: block;
    height: auto;
}

.mobile-menu .share-menu {
    margin: 0;
    list-style: none;
    padding: 0;
    width: 5.4rem;
    background: #F6F6F2;
    margin-left: 5.4rem;
}

.mobile-menu .share-menu li {
    padding: 10px;
}

/*----------------------- Страница о проекте ------------------------------ */

.contacts-list .contact-item {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.contacts-list .contact-item a,
.contacts-list .contact-item a:focus{
    color: #000;
}

.contacts-list .contact-item img {
    width: 15px;
    height: 15px;
}

.source-list {
    padding: 0 22px;
    margin: 0;
}

.source-list a {

}

/*----------------------- Попаз фотографии ----------------------------- */



.photo-captions .main-section {
    padding-bottom: 0.5rem;
}

.photo-captions .main-section * {
    font-size: 1.8rem;
    display: inline-block;
}

.top-image-section {
    padding: 0.5rem 1rem;
}

.photo-captions {
    padding: 0.5rem 1rem 2rem 1rem;
}

.top-image-section a {
    color: #000;
}

.help-links {
    font-size: 1.4rem;
    display: block;
    margin: 0 0 1rem 0;
    display: inline-block;
    color: #000;
}

.popup-img-frame {
    background: #1d1d1d;
    text-align: center;
    position: relative;
    font-size: 0;
}

.popup-img-frame img {
    max-width: 100%;
}


/*---------------------- Страницы фотоальбома --------------------------- */


.filter-photo-select {
    max-width: 30rem;
}

.filter-photo-select .filter-header {
    display: block;
    font-family: "Yeseva One";
    font-size: 2rem;
    margin: 0 0 1rem 0;
}


.filter-photo-select .current-value {
    position: relative;
    border-bottom: 1px solid #BABAB3;
    padding: 0.5rem 0;
    cursor: pointer;
}

.filter-photo-select .current-value::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 35%;
    border: solid black;
    border-width: 0 2px 2px 0;
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: 0.4rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.filter-photo-select .values-dropdown {
    position: relative;
}

.filter-photo-select .values-dropdown ul {
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 7761;
    background: #f6f6f2;
    width: 100%;
    box-shadow: 1px 1px 7px 2px rgba(20, 20, 20, 0.18);
}

.filter-photo-select .values-dropdown ul.visible {
    display: block;
}

.filter-photo-select .values-dropdown li {
    padding: 1rem;
    border-bottom: 1px solid #BABAB3;
}

.filter-photo-select .values-dropdown li a {
    display: block;
    width: 100%;
    text-decoration: none;
}

.filter-photo-select .values-dropdown li:hover {
    background: #e8e8e1;
}

.filter-photo-select .values-dropdown li a span {
    float: right;
    color: #B1B1B1;
}

.album-photo-preview {
    font-size: 0;
}

.album-photo-preview img {
    width: 17rem;
    height: auto;
    padding: 0 0.3rem;
}

.image-album-section {
    margin-top: 3rem;
}

.pagination {
    text-align: center;
    margin: 2rem 0;
}
.pagination .step-links a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.pagination .step-links .page-nums {
    width: 3rem;
    height: 3rem;
}

.inactive-page-button {
    color: #ccc;
}

.pagination .step-links .page-active {
    background: #CD471C;
    color: #f6f6f2;
}

.popup-img-frame .toggle-photo-button {
    position: absolute;
    padding: 2rem;
    cursor: pointer;
    top: 50%;
    top: calc(50% - 2rem);
}

.popup-img-frame .toggle-photo-button .toggle-badge {
    width: 2rem;
    height: 2rem;
    border: solid #c7c7c7;
    border-width: 0 3px 3px 0;
}

.popup-img-frame .toggle-previous {
    left: -6rem;
}

.popup-img-frame .toggle-next {
    right: -6rem;
}

.popup-img-frame .toggle-previous .toggle-badge {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.popup-img-frame .toggle-next .toggle-badge {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.popup-img-frame .disabled-button {
   opacity: 0.2;
   cursor: auto;
}

/*----------------------- AJAX окна----------------------------- */

.ajax-content-window {
    background: #f6f6f2;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 400px);
    height: 100vh;
    z-index: 15000;
}

.ajax-content-wrapper {
    pointer-events: none;
}

.ajax-content-window.img-slider {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);

}

.img-slider .no-map-content {
    padding: 0;
    max-width: 100rem;
    background: #f6f6f2;
    border-radius: 2px;
    margin-top: 10rem;
    width: calc(100vw - 20px);
}

.img-slider .popup-img-frame {
    min-height: 700px;
    display: table;
    width: 100%;
    width: calc(100% + 1px);
}

.img-slider .popup-img-frame .img-inner {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.frame-header-section {
    height: 1rem;
    padding: 0;
    background: #1d1d1d;
    position: relative;
}

.frame-header-section .close-window-button {
    text-decoration: none;
    position: absolute;
    top: -3rem;
    right: 0;
    color: #c7c7c7;
}
/*----------------------- Попап----------------------------- */


.leaflet-popup-content-wrapper {
    marin-left: -400px;
    padding: 0;
    border-radius: 2px;
}

.leaflet-popup-content {
    width: 640px !important;
    position: relative;
    margin: 0;
}


@media only screen and (max-width: 1440px) {
    .map-img-popup {
        max-width: 520px;
    }

    .leaflet-popup-content {
        width: 520px !important;
        margin: 10px;
    }

    .leaflet-popup-content-wrapper {
        marin-left: -250px
    }


}

/*----------------------- Тултип ----------------------------- */

.img-blank {
    width: 150px;
    height: 100px;
    background: #f6f6f2;
}

.leaflet-tooltip {
    min-width: 150px;
    min-height: 100px;
    padding: 2px;
}

/*----------------------- Попап с формой ----------------------------- */

.popup-container {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    width: 300px;
    height: 400px;
    background: #f6f6f2;
    padding: 20px;

}

.img-slider .no-map-content,
.popup-container {
    -webkit-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.47);
    box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.47);
}


/*----------------------- Футер ------------------------------ */

.site-footer {
    background: #484846;
    width: 100%;
    padding: 30px 0;
    position: relative;
    color: #8A8A87;
    font-size: 16px;
    min-height: 260px;
}

.site-footer a {
    color: #8A8A87;
}

.site-footer .footer-content {
    position: relative;
    max-width: 880px;
    margin: 0 auto;
    padding: 0 20px;
}
.site-footer .footer-columns {
    position: relative;
}

.site-footer .footer-columns ul,
.site-footer .footer-columns ol {
    margin-top: 10px;
}


.site-footer .column-left {
    max-width: calc(100% - 520px);
}

.site-footer .column-right {
    max-width: 520px;
    float: right;
}
.site-footer .column-right ol {
    padding-left: 1em;
}

/*----------------------- АНИМАЦИИ ------------------------------ */
/*------------------- Иконка загрузки --------------------------- */

@-moz-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}

.loader-icon {
    position: absolute;
    top: 50%;
    left: calc(50% - 1.6rem);
}
/* :not(:required) hides these rules from IE9 and below */
.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
}

/*----------------------- Стили для устройств ------------------------------ */


@media screen and (min-width: 1920px) {
    .album-photo-preview img {
        width: 14rem;
        height: auto;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 0.7vw;
    }
}

@media only screen and (max-width: 1024px) {

    #time-range-slider {
        position: fixed;
        bottom: 0;
    }

    .ajax-content-window {
        width: 100%;
    }
}

@media only screen and (max-width: 840px) {

    .site-footer .column-left {
        max-width: 100%;
        margin-top: 40px;
    }
    .site-footer .column-right {
        max-width: 100%;
        margin-left: 0;
        float: none;
    }
    .img-slider .no-map-content {
        max-width: 120rem;
    }
    .img-slider .popup-img-frame {
        min-height: 530px;
    }
}

@media screen and (max-width: 800px) {

    html {
        font-size: 1.3vw;
    }
    .popup-img-frame .toggle-previous {
        left: 0;
    }

    .popup-img-frame .toggle-next {
        right: 0;
    }

}

@media only screen and (max-width: 640px) {

    h2 {
        font-size: 12px;
    }
    #map {
        height: 100vh ;
    }
    .no-map-content {
        padding: 80px 10px 60px 10px;
    }

    .leaflet-popup-content {
        width: 80vw !important;
        max-height: 500px;
        height: auto;
        margin: 10px;
    }

    .leaflet-popup-content-wrapper {
        marin-left: -40vw;
    }

    .leaflet-control-container .leaflet-top.leaflet-left {
        top: 50px;
    }



}

@media screen and (max-width: 580px) {

    html {
        font-size: 2.2vw;
    }
    .img-slider .popup-img-frame {
        min-height: 380px;
    }
    .mobile-menu .menu-container {
        width: calc(100% - 20px);
    }
}

@media screen and (max-width: 380px) {
    html {
        font-size: 2.6vw;
    }
    .img-slider .popup-img-frame {
        min-height: 280px;
    }
}

@media only screen and (max-width: 360px) {

    .album-photo-preview img {
        width: 17.5rem;
        height: auto;
    }
}