
@font-face {
	font-family: "GOST";
	src: url("./fonts/GOSTUI2-regular.woff") format("woff");
	font-weight: normal;
	color: #191919;		
}

@font-face {
	font-family: "GOST";
	src: url("./fonts/GOSTUI2-medium.woff") format("woff");
	font-weight: 450;
	color: #191919;		
}

@font-face {
	font-family: "GOST";
	src: url("./fonts/GOSTUI2-bold.woff") format("woff");
	font-weight: bold;
	color: #191919;		
}

html {
	font-size: 3.2vw;
	background: #414141;
}

.body-low-access {
    max-width: 600px;
    padding: 40px;
    margin: 0 auto;
}

p {
	margin: 0;
	margin-bottom: 30px;
	font-size: 16px
}

h2 {
	font-size: 32px;
	line-height: 32px;
	margin-bottom: 20px;
	margin-top: 0;
}

h4 {
	margin-bottom: 10px;
}

.title-link {
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #191919;
    margin-bottom: 5px;
}

.help-text {
	color: #666666;
	font-size: 14px;
}

/*----------------------- Общие стили ------------------------------ */

body {
	font-family: "GOST";
	font-weight: normal;
	position: relative; 	
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
	background: #f2f2f2;
	font-size: 16px;

	min-height: 100vh;
}


button {
	margin-right: 20px;
	cursor: pointer;
}

input, select {
	padding: 10px;
	border-radius: 4px;
	font-size: 14px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -khtml-border-radius: 4px;
}

.site-header {
	height: 30px;
	padding: 10px;

}

.input-header {
	display: block;
	font-weight: bold;
	padding-bottom: 10px;
}

.main-wrapper {
	max-width: 800px;
	padding: 40px;
	margin-left: 440px;
	width: calc(100% - 860px)
}



.main-wrapper input,
.main-wrapper select {
	border: 1px solid #999999;
   	background: #ffffff !important;
}



#user-manual {
	margin-top: 60px;
}

#copyright {
	position: absolute;
	bottom: 40px;
}

.nav-top-menu {
	margin-bottom: 40px;
}

.nav-top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

.nav-top-menu li {
  float: left;
}

.nav-top-menu li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-top-menu li a:hover:not(.active) {
  background-color: #ddd;
}

.nav-top-menu li a.active {
  color: white;
  background-color: #4CAF50;
}

#app-main-ui {
	margin-bottom: 40px;
}

/*----------------------- Формы общие ------------------------------ */

.operation-result-message {
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 20px;
	max-height: 100px;
	overflow-y: scroll;
	width: calc(100% - 20px);
}

.form-operation-status{
	min-height: 20px;
	padding-bottom: 10px;
	font-size: 12px;
	color: #545454;
}

.ajax-update-form .input-element{
	width: 22%;
	margin-right: 10px;
}

.ajax-update-form .input-element input {
	width: calc(100% - 20px);
}

.automated-graphic-container {
    min-height: 500px;
}

.automated-graphic-container img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

/*----------------------- Верхнее меню ------------------------------ */

.app-top-menu {
	margin-left: 440px;
	width: 100%;
	height: 20px;
	padding: 5px 0 5px 40px;
	border-bottom: 1px solid #c1c1c1;
}

.app-top-menu a {
	color: #333333;
	text-decoration: none;
	padding-right: 20px;
}

.sidebar-top-menu {
    padding: 5px 0 5px 40px;
	border-bottom: 1px solid #c1c1c1;

}

.sidebar-top-menu > div {
    display: inline-block;
    width: 40%;
}

/*----------------------- Список карт ------------------------------ */

.map-list-item {
	border-color: #ddd;
	border-width: 0 0 1px 0;
	border-style: solid;
	list-style: none;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 40px;
}

.map-list-item .map-img-preview {
	width: 200px;
	height: 150px;
	overflow: hidden;
}

.map-list-item .map-list-right-section {
	left: 230px;
	top: 0;
	position: absolute;
}

/*----------------------- Сайдбар ------------------------------ */

.sidebar {
	height: 100vh;
	padding: 40px 0;
	position: fixed;
	top: 0;
}

.left-sidebar {
	background: #414141;
	width: 440px;
	color: #f2f2f2;
	float: left;
	left: 0;
}

.right-sidebar {
	float: right;
	width: 340px;
	color: #000;
	background: #e5e1e1;
	right: 0;
}

.sidebar-file-input {
	padding: 0;
	background: none;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.sidebar .sidebar-wide-button {
	width: 100%;
	padding: 8px 0 8px 0;
	border-radius: 4px;
	background: none;
	cursor: pointer;
	display: block;	
	text-align: center;
	text-decoration: none;
}

.left-sidebar .sidebar-wide-button {
	border: 1px solid #f2f2f2;
}

.sidebar .sidebar-input-area {
	padding: 0 20px;
	width: calc(100% - 40px);
}

.sidebar input {
	background: none;
}


.left-sidebar .sidebar-input-area input,
.left-sidebar .sidebar-input-area button {
	color: #f2f2f2;
}

.right-sidebar .sidebar-input-area > input,
.right-sidebar .sidebar-input-area button {
	color: #000;
	border: 1px solid #000;
	margin-bottom: 20px;
}

.right-sidebar .sidebar-input-area input {
	margin-bottom: 20px;
}

.right-sidebar .sidebar-input-area .underline-input {
	border-color: #000;
}

.sidebar .sidebar-input-area input {
	padding: 5px;
}

.left-sidebar a {
	color: #f2f2f2;
}


.sidebar .button-section {
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}

.sidebar .sidebar-button {
	position: relative;
	cursor: pointer;
	width: 50%;
	margin-bottom: 20px;
}

.sidebar .sidebar-button .button-icon {
	margin-bottom: -5px;
	width: 20px;
	height: 20px;
	position: absolute;
}

.sidebar .sidebar-button .button-content {
	margin-left: 30px;
}

.sidebar .sidebar-input-area .search-input {
	width: 100%;
}

.sidebar .sidebar-input-area .search-input .button-content {
	width: calc(100% - 40px)
}

.underline-input{
	border-radius: 0;
	border-width: 0 0 1px 0;
	width: 100%;
}

.underline-input:focus {
	outline: none;
}

.sidebar .paste-data-button {
	float: left;
}

.save-data-button {
	float: right;
}

.sidebar .sidebar-input-area .search-input .button-icon {
	background: url("../img/search-icon.png");
}


.sidebar .paste-data-button .button-icon {
	background: url("../img/paste-icon.png");
}

.sidebar .save-data-button .button-icon {
	background: url("../img/save-icon.png");
}

#input-area {
	margin-bottom: 20px;
}

.sidebar .google-api-form th {
	text-align: left;
	font-weight: normal;

}

.sidebar .google-api-form input {
	width: calc(100% - 10px);
}

.sidebar #google-form-submit {
	margin-top: 20px;
}

.db-message-cection {
	height: 40px;
}

.db-message-cection .db-message-success {
	color: #08A777;
}

.db-message-cection .db-message-error {
	color: #E35757;
}

/*----------------------- Таблица с данными ------------------------------ */

.data-table-input {
	width: 80px;
}

.data-table {
	position: relative;
	height: 400px;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #363636;
	color: #f2f2f2;
	margin-bottom: 30px;
	border-top: 1px solid #232323;
	border-bottom: 1px solid #828282;
}

.data-table::-webkit-scrollbar {
      width: 15px;
}

.data-table::-webkit-scrollbar-track {
      background-color: #4F4F4F;
}
.data-table::-webkit-scrollbar-thumb {
      background-color: #a8a8a8;
      height: 60px;
      border-radius: 10px; 
}

.data-table table {
	border-collapse: collapse;
}

.data-table table td {
	border: 1px solid #4F4F4F;
	
}

.data-table table .cell-1 {
	width: 10%;
}

.data-table table .cell-2 {
	width: 70%;
}

.data-table table .cell-3 {
	width: 30%;
}

.data-table table .text-cell {
	padding: 5px 10px 5px 10px;
}

.data-table input {
	background: none;
	outline: none;
	border: none;
	border-radius: 0;
	color: #f2f2f2;
}

.data-table .data-input-error {
	border: 1px solid #EA3939;
}


/*----------------------- Превью базы данных ------------------------------ */

.DB-table-wrapper {
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #ddd;
	margin: 20px 0;
}

.DB-table-wrapper table {
	border-collapse: collapse;
	width: 100%;
}

.DB-table-wrapper td, 
.DB-table-wrapper th {
	border: 1px solid #ccc;
	padding: 4px;
}






/*----------------------- Карты ------------------------------ */

#widget-wrapper {
	padding: 0;
}

.input-element {
	display: inline-block;
	width: 45%;
	padding-bottom: 10px;
	vertical-align: top;
}



.input-element select {
	width: 100%;

}

.input-element .range-selector {
	padding: 0;
}

.input-element .range-selector-value {
	display: inline-block;
}

#svg-map-area {
	margin-top: 40px;
	margin-bottom: 40px;
}

#tooltip {
	line-height: 16px;

	padding: 10px;
	z-index: 200;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

#tooltip #tooltip-header {
	font-weight: bold;
	
}

#tooltip #tooltip-value {
	padding-top: 10px;
}

#r_border,
#r_border * {
	pointer-events: none;
}

#colormap-legend {
	border-spacing: 0;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
#colormap-legend tr {
	margin-bottom: 5px;
}

#colormap-legend td {
	border: 0;
	padding: 0;
	border-spacing: none;
}


.map-main-ui-section {
	padding-top: 20px;
	border-top: 1px solid #BDBDBD;
}

.color-selection-area {
	min-height: 110px;
}
.color-selection-area .color-stop {
	width: 100px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

.color-selection-area .color-stop .value-input {
	border-radius: 4px 4px 0 0;
	width: calc(100% - 20px);
}

.color-selection-area .color-stop .color-input {
	border-radius: 0 0 4px 4px;
	border-width: 0 1px 1px 1px;
	margin-top: -1px;
	width: calc(100% - 20px);
}

.color-selection-area #nan-color-section {
	width: 120px;
	float: left;
}

#colormap-legend .tr-input {
	height: 30px;
}

#colormap-legend .td-input {
	padding-right: 5px;
}

#colormap-legend .color-marker {
	width: 30px;
	height: 15px;
	float: left;
	margin-right: 10px;
}

#colormap-legend .template-colors {
	font-size: 14px;
	height: 20px;
}

@media only screen and (max-width: 1440px) {

	.app-top-menu {
		margin-left: 30%;
		width: calc(50% - 40px);
	}

	.main-wrapper {
		margin-left: 30%;
		width: calc(50% - 80px);
	}

	.left-sidebar {
		width: 30%;
	}

	.right-sidebar {
		width: 20%;
	}


}
