html, body {
        padding: 0;
        margin: 0;
        bottom: 0;
        background: #f6f6f2;
    }

html {
	font-size: 3.2vw;
	font-family: 'PT Sans', sans-serif;
}

p {
	margin: 0;
	margin-bottom: 30px;
	margin-top: 20px;
	font-size: 18px;
	line-height: 25px;

}

h2, h3, h4 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin: 0;
}
h2 {
	font-size: 32px;
	line-height: 35px;
}

h3 {
    font-size: 22px;
}

h4 {
	margin-bottom: 10px;
}

.secondary-text {
    color: #B1B1B1;
}

.help-text {
    font-size: 14px;
    color: #B1B1B1;
}

a {
    color: #000;
}

/*----------------------- Общие стили ------------------------------ */

body {
	font-weight: normal;
	position: relative; 	
	margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
	background: #F6F6F2;
	font-size: 18px;
	min-height: 100vh;
}

.map-wrapper {
    position: relative;
    background: #f6f6f2;
    width: 100%;
    height: calc(100vh - 50px);
}

.no-map-content {
    padding: 60px 10px;
    max-width: 880px;
    margin: 0 auto;
}

button {
	margin-right: 20px;
	cursor: pointer;
}

input, select {
	padding: 10px;
	border-radius: 4px;
	font-size: 14px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   -khtml-border-radius: 4px;
}

.centered-content-wrapper {
    max-width: 720px;
    margin:0 auto;
    padding: 40px 0;
}


/*----------------------- Формы общие ------------------------------ */

.operation-result-message {
	border: 1px solid #ddd;
	padding: 10px;
	margin-top: 20px;
	max-height: 100px;
	overflow-y: scroll;
	width: calc(100% - 20px);
}

.form-operation-status{
	min-height: 20px;
	padding-bottom: 10px;
	font-size: 18px;
	color: #545454;
}

.input-element .input-header {
    font-weight: bold;
}

.ajax-update-form .input-element{
	width: 100%;
	margin-right: 10px;
	margin-bottom: 20px;
}

.ajax-update-form .input-element input {
	width: 100%;
	border: solid 1px #e8e8e8;
}

.ajax-update-form .input-element input[type="checkbox"] {
    width: auto;
}

.ajax-update-form .input-element input:focus {
    outline: 1px solid #000;
}

.ajax-update-form .input-element .text-input {
    width: calc(100% - 20px);
}

.automated-graphic-container {
    min-height: 500px;
}

.ajax-update-form img {
    height: 400px;
    width: auto;
    max-width: 100%;
}

.nice-select {
    float: none;
}


/*----------------------- Карта ------------------------------ */

#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.time-range-slider {
    position: absolute;
    width: calc(100% - 30px);
    margin-left: 15px;
    z-index: 11000;
    bottom: 0px;
}

.leaflet-control-layers {
    background: #f6f6f2;
}

.leaflet-bar a,
.leaflet-bar a:hover {
    background-color: #f6f6f2;
}

.jsr_slider:focus::before {
    background: #CD471C;
}

/*----------------------- Навигация ------------------------------ */


.main-menu-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid #BABAB3;
    min-height: 30px;
}

.main-menu {

    margin: 0 auto;
    padding: 0 10px;
    background: #F6F6F2;
    max-width: 880px;
}

.main-menu a {
    text-decoration: none;
    margin-right: 20px;
    color: #000;
}

#main-menu-button {
    display: none;
}

.open-button {
	width: 18px;
	height: 14px;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	position: absolute;
	cursor: pointer;
	border-bottom: 0;
	top: 20px;
	right: 25px;
	z-index: 9999;
	border-bottom: 0;
}

.open-button span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: black;
	border-radius: 2px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;

}

.open-button span:nth-child(1) {
	top: 0px;
	transform-origin: left center;
}

.open-button span:nth-child(2) {
	top: 7px;
	transform-origin: left center;
}

.open-button span:nth-child(3) {
	top: 14px;
	transform-origin: left center;
}

.open-button.open span:nth-child(1) {
	transform: rotate(45deg);
	top: -3px;
	left: 8px;
}

.open-button.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.open-button.open span:nth-child(3) {
	transform: rotate(-45deg);
	top: 10px;
	left: 8px;
}

/*----------------------- Страница о проекте ------------------------------ */

.contacts-list .contact-item {
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.contacts-list .contact-item a,
.contacts-list .contact-item a:focus{
    color: #000;
}

.contacts-list .contact-item img {
    width: 15px;
    height: 15px;
}

.source-list {
    padding: 0 22px;
    margin: 0;
}

.source-list a {

}

/*----------------------- Попаз фотографии ----------------------------- */


.photo-captions .main-section {
    padding-bottom: 5px;
}

.photo-captions .main-section * {
    font-size: 18px;
    display: inline-block;
}

.top-image-section a {
    color: #000;
}

.help-links {
    font-size: 14px;
    display: block;
    margin: 0 0 10px 0;
    display: inline-block;
    color: #000;
}

.popup-img-frame {
    background: #e3e3e3;
    text-align: center;
    position: relative;
    font-size: 0;
}

.album-photo-preview {
    font-size: 0;
}

.album-photo-preview img {
    width: 150px;
    height: 100px;
    padding: 0 2px;
}

.pagination {
    text-align: center;
    margin-bottom: 20px;
}
.pagination .step-links a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.pagination .step-links .page-nums {
    width: 30px;
    height: 30px;
}

.inactive-page-button {
    color: #ccc;
}

.pagination .step-links .page-active {
    background: #CD471C;
    color: #f6f6f2;
}

.popup-img-frame .disabled-button {
    display: none;
}

.popup-img-frame .toggle-photo-button {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    border: solid black;
    border-width: 0 3px 3px 0;
    cursor: pointer;
}

.popup-img-frame .toggle-previous {
    left: 3%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.popup-img-frame .toggle-next {
    right: 3%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


/*----------------------- AJAX окна----------------------------- */

.ajax-content-window {
    background: #f6f6f2;
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 400px);
    height: 100vh;
    z-index: 15000;
}

.ajax-content-window.img-slider {
    width: 100vw;
    height: 100vh;
    margin-top: 100px;
    background: none;
}

.img-slider .no-map-content {
    padding: 20px;
    max-width: 800px;
    background: #f6f6f2;
    border-radius: 10px;
}

.frame-header-section {
    height: 10px;
    padding: 20px;
    position: relative;
}

/*----------------------- Попап----------------------------- */


.leaflet-popup-content-wrapper {
    marin-left: -400px
}

.leaflet-popup-content {
    width: 640px !important;
    position: relative;
}


@media only screen and (max-width: 1440px) {
    .popup-img-frame img {
        max-width: 520px;
    }

    .leaflet-popup-content {
        width: 520px !important;
        margin: 10px;
    }

    .leaflet-popup-content-wrapper {
        marin-left: -250px
    }


}

/*----------------------- Тултип ----------------------------- */

.img-blank {
    width: 150px;
    height: 100px;
    background: #f6f6f2;
}

.leaflet-tooltip {
    min-width: 150px;
    min-height: 100px;
}

/*----------------------- Попап с формой ----------------------------- */

.popup-container {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    width: 300px;
    height: 400px;
    background: #f6f6f2;
    padding: 20px;

}

.img-slider .no-map-content,
.popup-container {
    -webkit-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.47);
    box-shadow: -1px 1px 8px 0px rgba(0,0,0,0.47);
}
@media only screen and (max-width: 1024px) {

    #time-range-slider {
        position: fixed;
        bottom: 0;
    }

    .ajax-content-window {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {

    h2 {
        font-size: 12px;
    }
    .popup-img-frame img {
        max-width: calc(80vw - 20px);
    }



    .leaflet-popup-content {
        width: 80vw !important;
        max-height: 500px;
        height: auto;
        margin: 10px;
    }

    .leaflet-popup-content-wrapper {
        marin-left: -40vw;
    }


    #main-menu-button {
        display: block;
    }


    .main-menu-nav {
        display: none;
        height: 0px;
        position: absolute;
        top: 50px;
        z-index: 15100;
        width: 100%;
        transition: .25s ease-in-out;
    }

    .main-menu-nav a {
        display: block;
        height: 30px;
        width: 100%;
        padding: 10px 20px;
        background: #F6F6F2;
    }

    .mobile-menu-open {
        display: block;
        height: auto;
    }

}

@media only screen and (max-width: 360px) {

    .album-photo-preview img {
        width: 100px;
        height: auto;
    }
}