{% extends "base_generic.html" %}
{% load static %}
{% block title %}
    <title>История территории московского завода 'Серп и молот' - о проекте</title>
{% endblock %}
{% block content %}
    <div class="no-map-content">
        <p>
            Привет! Меня зовут Андрей и я сделал этот проект на чистом энтузиазме.
        </p>
        <p>
            Основная причина, почему я занялся этим делом - в моём архиве оказалось огромное количество фотографий, которые мне хотелось сохранить и выложить в открытый доступ.
            В процессе размышления как это лучше сделать, пришла идея попробовать нанести их на карту, по аналогии с сайтом pastvu, также указав для каждой фотографии год или&nbsp;хотя-бы примерное десятилетие.
            Сайт pastvu я&nbsp;не&nbsp;использовал, потому что&nbsp;многие фотографии сделаны после 2000-ого года, а&nbsp;также потому, что&nbsp;фотографий вцелом довольно много. Поэтому я&nbsp;и&nbsp;решил сделать свой проект.
        </p>
        <p>
            Главная цель проекта – составить графический "отпечаток" некогда легендарного предприятия и проследить развитие его территории.
        </p>
        <p>Если вы нашли ошибки или неточности, хотите указать авторство фотографий или внести какие-нибудь дополнения, то вы можете связаться со мной с помощью контактов ниже.
        </p>
        <span class="help-text">Контакты:</span><br>
        <div class="contacts-list">
            <div class="contact-item">
                 <img src="{% static 'img/telegram-icon.png' %}"/> <a href="https://tlgg.ru/strizhas" target="_blank">strizhas</a><br>
            </div>
            <!-- раскомментить если вдруг появится инстаграм-->
            <!--
            <div class="contact-item">
                <img src="{% static 'img/instagram-icon.png' %}"/> <a href="https://www.instagram.com/_lingua_franka/" target="_blank">_lingua_franka</a>
            </div>
            -->
        </div>
    </div>
{% endblock %}