{% extends "base_generic.html" %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/albums.js' %}"></script>
{% endblock %}
{% block sidebar %}
    <p>Завод был основан в 1883 и, первоначально состоявший из одной мартеновской печи, со&nbsp;временем превратился в&nbsp;огромное производство,
        занимающее площадь в&nbsp;десятки гектар. В период наивысшего своего развития на нём работало ~10 000 человек.</p>
    <p>В 2011 году завод произвел последнюю плавку и,
        фактически, прекратил своё существование, став в сознании москвичей ещё одной "депрессивной территорией". Примерно в то же время начался его демонтаж.</p>
    <p>Проект ставит целью сохранить отпечаток этой эпохи. Если у вас есть фотографии или&nbsp;другие материалы, которыми вы могли бы поделиться, то буду очень
        признателен.
    </p>
    <span class="help-text">Контакты:</span><br>
    <div class="contacts-list">
        <div class="contact-item">
             <img src="{% static 'img/telegram-icon.png' %}"/> <a href="https://tlgg.ru/strizhas" target="_blank">strizhas</a><br>
        </div>
        <div class="contact-item">
            <img src="{% static 'img/instagram-icon.png' %}"/> <a href="https://www.instagram.com/_lingua_franka/" target="_blank">_lingua_franka</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="no-map-content">
        {% for p in page_obj %}
            <a class="album-photo-preview" href="show/{{ p.id }}" >
                <img src="{{ p.img_small.url }}"/>
            </a>
        {% endfor %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">&larr;</a>
                {% else %}
                    <span class="inactive-page-button">&larr;</span>
                {% endif %}

                {% for p in  page_obj.paginator.page_range %}
                    {% if p == page_obj.number %}
                        <a class="page-nums page-active" href="?page={{ p }}">{{ p }}</a>
                    {% else %}
                        <a class="page-nums" href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">&rarr;</a>
                {% else %}
                    <span class="inactive-page-button">&rarr;</span>
                {% endif %}
            </span>
        </div>
    </div>
{% endblock %}
