{% extends "base_generic.html" %}
{% load static %}
{% block title %}
    <title>История территории московского завода 'Серп и молот'</title>
{% endblock %}
{% block content %}
    <div class="no-map-content">
        
        <p>
            царский парк, смерч и тысячи тонн расплавленного металла. История территории завода ‘Серп и молот’ –
            от пахотных земель до жилого квартала
        </p>
        <h3>
            Пастбища и царская роща
        </h3>
        <p>
            до ХVII века  эти земли входили в состав владений монастырского села Карачарова, которое принадлежало
            Спасо-Андроникову монастырю. Тут были исключительно пахотные и выгонные земли, и никаких построек
            (во всяком случае капитальных) здесь не было. Однако в XVII часть земель переходит во владение города
            и тут начинают появлятся резиденции знати. в 1730-х годах в ходе устройства дворцово-паркового комплекса,
            известного как Летний Анненгоф, к востоку от него была посажена Анненгофская роща.
        </p>
        <p>
            Однако самое непосредственное влияние на судьбу этих земель оказало железнодорожное строительство,
            начавшееся в 1860-ые годы. В период с 1862 по 1867 годы здесь было открыто движение по трём направлениям -
            нижегородскому, казанскому и курскому. Наличие такой системы коммуникаций сделало этот район привлекательным
            для крупной промышленности.
        </p>
        <h3>
            Юлий Гужон и общество московского металлического завода
        </h3>
        <p>
            В 1883 г. француз Юлий (Жюль) Гужон, сын обосновавшегося в 1845 г. в Москве Пьера Гужона, хозяина гвоздильного
            производства за Бутырской заставой, подал прошение московскому начальству: "разрешить железопрокатное производство,
            с постановкой машин и станков, на вновь устраиваемом мною заводе". Разрешение было получено, и в этом же году
            у Рогожской заставы появились мастерские Гужона, изготовляющие проволоку. В 1885 г. завод полностью выгорел,
            и по Москве ходили слухи, что сам хозяин и инициировал поджог - страховая премия была отнюдь не символическая.
            В 1890 г. Гужон поставил здесь первую мартеновскую печь, а с 1908 г. на заводе начался листовой прокат стали."
        </p>
        <p>
            После революции все находящиеся здесь предприятия были национализированы. Завод Гужона получил название
            “Московский металлургический завод Серп и Молот”
        </p>
    </div>
{% endblock %}