<a href="{{ url_full }}" target="_blank" class="img-download-link">скачать в полном размере</a>
<div class="popup-img-frame">
    <img src="{{ url }}"/>
</div>
<div class="photo-captions">
    <div class="main-section">
        {% if year %}
            <div class="photo-year-caption">{{ year }},</div>
        {% else %}
            {% if decade %}
                <div class="photo-year-caption">{{ decade }}-ые,</div>
            {% endif %}
        {% endif %}
        {% if source %}
            <div>источник: {{ source }}</div>
        {% else %}
             <div>источник не указан</div>
        {% endif %}
        {% if author %}
            <div>| автор: {{ author }}</div>
        {% endif %}

    </div>
    <div class="help-text">загузил: {{ uploader }}, {{ uploaded }}</div>
    {% if owner == True %}
        <a href="edit_photo/{{ id }}" target="_blank">редактировать</a>
    {% endif %}
</div>