{% extends "base_generic.html" %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
{% endblock %}
{% block sidebar %}
    <p>Завод был основан в 1883 и, первоначально состоявший из одной мартеновской печи, со&nbsp;временем превратился в&nbsp;огромное производство,
        занимающее площадь в&nbsp;десятки гектар. В период наивысшего своего развития на нём работало ~10 000 человек.</p>
    <p>В 2011 году завод произвел последнюю плавку и,
        фактически, прекратил своё существование, став в сознании москвичей ещё одной "депрессивной территорией". Примерно в то же время начался его демонтаж.</p>
    <p>Проект ставит целью сохранить отпечаток этой эпохи. Если у вас есть фотографии или&nbsp;другие материалы, которыми вы могли бы поделиться, то буду очень
        признателен.
    </p>
    <span class="help-text">Контакты:</span><br>
    <div class="contacts-list">
        <div class="contact-item">
             <img src="{% static 'img/telegram-icon.png' %}"/> <a href="https://tlgg.ru/strizhas" target="_blank">strizhas</a><br>
        </div>
        <div class="contact-item">
            <img src="{% static 'img/instagram-icon.png' %}"/> <a href="https://www.instagram.com/_lingua_franka/" target="_blank">_lingua_franka</a>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="centered-content-wrapper">
        <h2>Загрузка фотографий с геоданными, содержащимися в их метаданных</h2>
        <p>Обработка фотографий может занять много времени, просьба запастись терпением. Ограничение на размер разовой загрузки составляет 1 ГБ</p>
    <form action="/upload_with_exif" method="post" class="ajax-update-form" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="input-element">
            <span class="input-header">Источник фотографий</span>
            <select name="source">
        {% if sources %}
            {% for s in sources %}
                <option value="{{s.id}}">{{s.name}}</option>
            {% endfor %}
        {% endif %}
            </select>
        </div>
        <div class="input-element">
            <span class="input-header">Автор фотографии</span>
            <input type="text" name="author" class="text-input"/>
        </div>
        <div class="input-element">
            <span class="input-header">Год, когда сделаны фотографии</span>
            <input type="number" min="1880" max="2050" name="year" id="year-input" class="text-input"/>
        </div>

        <div class="input-element">
            <span class="input-header">Десятилетие</span>
            <select name="decade" id="decade-select">
                <option value="1900">1900</option>
                <option value="1910">1910</option>
                <option value="1920">1920</option>
                <option value="1930">1930</option>
                <option value="1940">1940</option>
                <option value="1950">1950</option>
                <option value="1960">1960</option>
                <option value="1970">1970</option>
                <option value="1980">1980</option>
                <option value="1990">1990</option>
                <option value="2000">2000</option>
                <option value="2010">2010</option>
                <option value="2020">2020</option>
                <option value="" selected>неизвестно</option>
            </select>
        </div>
        <div class="input-element">
            <input type="file" name="files" multiple required/>
        </div>
        <div class="input-element">
            <div class="form-operation-status"></div>
            <input type="submit" value="загрузить">
        </div>
        <div class="operation-result-message"></div>
    </form>
    </div>
<script type="text/javascript">
    $('.ajax-update-form').on('submit', function(event) {
        var form = $(this);
        submitUpdateForm(event, this, function() {
            console.log("ok")
        });
    })

    $('#year-input').on('change', function() {
        var year = $(this).val();
        if (year == "") {
            var decade = ""
        } else {
            var decade = year.substring(0,3) + 0;
        }
        $('#decade-select').val(decade);
        $('select').niceSelect('update');
    })

    $('#new-source-button').on('click', function(e) {
        e.preventDefault();
        $.ajax({
            url : "/require_source_form",
            type : "GET",
            success : function(response) {
                $('<div>', {
                    'html': response,
                    'class': 'popup-container',
                    }).appendTo($(document.body))

            },
            error : function(xhr,errmsg,err) {
            },
            complete: function() {
            }
        });
    });
    $(document).ready(function() {
      $('select').niceSelect();
    });
</script>
{% endblock %}