{% extends "base_generic.html" %}
{% load static %}
{% block head %}


    <!-- Include the Leaflet CSS base stlyes -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.1.0/dist/leaflet.css" integrity="sha512-wcw6ts8Anuw10Mzh9Ytw4pylW8+NAD4ch3lqm9lzAsTxg0GFeJgoAtxuCLREZSC5lUXdVyo/7yfsqFjQ4S+aKw==" crossorigin=""/>

    <!-- Include the Leaflet JS Library -->
    <script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet.js" integrity="sha512-mNqn2Wg7tSToJhvHcqfzLMU6J4mkOImSPTxVZAdo+lcPlk+GhZmYgACEe0x35K7YzW1zJ7XyJV/TT1MrdXvMcA==" crossorigin=""></script>
    <script type="text/javascript" src="{% static 'js/Leaflet.LimitZoom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Leaflet.ContinuousZoom.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/mm-jsr.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/mm-jsr.css' %}">

{% endblock %}
{% block sidebar %}
    <span class="secondary-text"></span>
    <p>Завод был основан в 1883 и, первоначально состоявший из одной мартеновской печи, со&nbsp;временем превратился в&nbsp;огромное производство,
        занимающее площадь в&nbsp;десятки гектар. В период наивысшего своего развития на нём работало ~10 000 человек.</p>
    <p>В 2011 году завод произвел последнюю плавку и,
        фактически, прекратил своё существование, став в сознании москвичей ещё одной "депрессивной территорией". Примерно в то же время начался его демонтаж.</p>
    <p>Проект ставит целью сохранить отпечаток этой эпохи. Если у вас есть фотографии или&nbsp;другие материалы, которыми вы могли бы поделиться, то буду очень
        признателен.
    </p>
    <span class="help-text">Контакты:</span><br>
    <div class="contacts-list">
        <div class="contact-item">
             <img src="{% static 'img/telegram-icon.png' %}"/> <a href="https://tlgg.ru/strizhas" target="_blank">strizhas</a><br>
        </div>
        <div class="contact-item">
            <img src="{% static 'img/instagram-icon.png' %}"/> <a href="https://www.instagram.com/_lingua_franka/" target="_blank">_lingua_franka</a>
        </div>
    </div>
<h3 style="display: none;">цехи основного производства</h3>
<table class="legend-table" style="display: none;">
    <tr>
        <td>1</td>
        <td>сортопрокатный цех</td>
    </tr>
    <tr>
        <td>2</td>
        <td>отделение термообработки</td>
    </tr>
    <tr>
        <td>3</td>
        <td>станы "250" и "350"</td>
    </tr>
    <tr>
        <td>4</td>
        <td>цех легированной проволоки</td>
    </tr>
    <tr>
        <td>5</td>
        <td>блок ремонтных цехов</td>
    </tr>
    <tr>
        <td>7</td>
        <td>листопрокатный цех</td>
    </tr>
    <tr>
        <td>8</td>
        <td>цех нержавеющей ленты</td>
    </tr>
    <tr>
        <td>9</td>
        <td>ремонтно-механический цех</td>
    </tr>
    <tr>
        <td>10</td>
        <td>электросталеплавильный цех</td>
    </tr>
    <tr>
        <td>11</td>
        <td>термокалибровочный цех</td>
    </tr>
    <tr>
        <td>12</td>
        <td>цех горячей прокатки полос и листов</td>
    </tr>
    <tr>
        <td>13</td>
        <td>холодное отделение листопрокатного цеха</td>
    </tr>
    <tr>
        <td>15</td>
        <td>скалад ферросплавов</td>
    </tr>
    <tr>
        <td>17</td>
        <td>склад хранения заготовок и длинномеров</td>
    </tr>
</table>
{% endblock %}
{% block content %}
    <div class="time-range-slider" id="time-range-slider">
    </div>
    <div id="map"></div>
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock %}