{% extends "base_generic.html" %}
{% load static %}
{% block head %}

{% endblock %}

{% block content %}
	<div class="no-map-content">
		<div class="top-image-section">
			<a href="{% url 'mmz:photos' %}" id="go-back-link" class="help-links">вернуться к альбомам</a> |
			<a href="{{ url_full }}" target="_blank" class="help-links">скачать в полном размере</a>
		</div>
	<div id="popup-img-frame" class="popup-img-frame">
		<img src="{{ url_large }}" alt="{{ alt }}"/>
	</div>
	<div class="photo-captions">
		<div class="main-section">
			{% if year %}
				<div class="photo-year-caption">{{ year }},</div>
			{% else %}
				{% if decade %}
					<div class="photo-year-caption">{{ decade }}-ые,</div>
				{% endif %}
			{% endif %}
			{% if source %}
				<div>источник: {{ source }}</div>
			{% else %}
				 <div>источник не указан</div>
			{% endif %}
			{% if author %}
				<div>| автор: {{ author }}</div>
			{% endif %}

		</div>
		<div class="help-text">загузил: {{ uploader }}, {{ uploaded }}</div>
		{% if owner == True %}
			<a href="/mmz/edit_photo/{{ id }}" target="_blank">редактировать</a>
		{% endif %}
	</div>
	</div>
{% endblock %}