<div class="ajax-content-wrapper">
	<div class="no-map-content">
		<div class="frame-header-section">
			<a href="#" id="close-window-button" class="close-window-button">✖</a>
		</div>

	<div id="popup-img-frame" class="popup-img-frame">
		<div id="toggle-photo-previous" class="toggle-photo-button toggle-previous" data-id="{{ id }}">
			<div class="toggle-badge"></div>
		</div>
		<div id="toggle-photo-next" class="toggle-photo-button toggle-next" data-id="{{ id }}">
			<div class="toggle-badge"></div>
		</div>
		<div class="img-inner">
			<img id="photo-img" src="{{ url_large }}" alt="{{ alt }}"/>
		</div>
	</div>
	<div class="top-image-section">
		<a href="{% url 'mmz:photos' %}" id="go-back-link" class="help-links">назад к альбомам</a> |
		<a id="photo-url-full" href="{{ url_full }}" target="_blank" class="help-links">скачать в полном размере</a>
	</div>
	<div class="photo-captions">
		<div class="main-section">
			{% if year %}
				<div id="photo-year" class="photo-year-caption">{{ year }},</div>
			{% else %}
				{% if decade %}
					<div id="photo-decade" class="photo-year-caption">{{ decade }}-ые,</div>
				{% endif %}
			{% endif %}
			{% if source %}
				<div>источник: <span id="photo-source">{{ source }}</span></div>
			{% else %}
				 <div>источник не указан</div>
			{% endif %}
			{% if author %}
				<div>| автор: <span id="photo-author">{{ author }}</span></div>
			{% endif %}

		</div>
		<div class="help-text">загузил: <span id="photo-uploader">{{ uploader }}</span>, <span id="photo-uploaded">{{ uploaded }}</span></div>
		{% if owner == True %}
			<a id="photo-edit-link" href="/mmz/edit_photo/{{ id }}" target="_blank">редактировать</a>
		{% endif %}
	</div>
	</div>
</div>