{% extends "base_generic.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block sidebar %}
    <p>Завод был основан в 1883 и, первоначально состоявший из одной мартеновской печи, со&nbsp;временем превратился в&nbsp;огромное производство,
        занимающее площадь в&nbsp;десятки гектар. В период наивысшего своего развития на нём работало ~10 000 человек.</p>
    <p>В 2011 году завод произвел последнюю плавку и,
        фактически, прекратил своё существование, став в сознании москвичей ещё одной "депрессивной территорией". Примерно в то же время начался его демонтаж.</p>
    <p>Проект ставит целью сохранить отпечаток этой эпохи. Если у вас есть фотографии или&nbsp;другие материалы, которыми вы могли бы поделиться, то буду очень
        признателен.
    </p>
    <span class="help-text">Контакты:</span><br>
    <div class="contacts-list">
        <div class="contact-item">
             <img src="{% static 'img/telegram-icon.png' %}"/> <a href="https://tlgg.ru/strizhas" target="_blank">strizhas</a><br>
        </div>
        <div class="contact-item">
            <img src="{% static 'img/instagram-icon.png' %}"/> <a href="https://www.instagram.com/_lingua_franka/" target="_blank">_lingua_franka</a>
        </div>
    </div>
{% endblock %}
{% block content %}
	<div class="no-map-content">
		<div class="top-image-section">
			<a href="{% url 'albums' %}" class="help-links">вернуться к альбомам</a> |
			<a href="{{ url_full }}" target="_blank" class="help-links">скачать в полном размере</a>
		</div>
	<div class="popup-img-frame">
		{{ description }}
		<img src="{{ url }}" alt="{{ alt }}"/>
	</div>
	<div class="photo-captions">
		<div class="main-section">
			{% if year %}
				<div class="photo-year-caption">{{ year }},</div>
			{% else %}
				{% if decade %}
					<div class="photo-year-caption">{{ decade }}-ые,</div>
				{% endif %}
			{% endif %}
			{% if source %}
				<div>источник: {{ source }}</div>
			{% else %}
				 <div>источник не указан</div>
			{% endif %}
			{% if author %}
				<div>| автор: {{ author }}</div>
			{% endif %}

		</div>
		<div class="help-text">загузил: {{ uploader }}, {{ uploaded }}</div>
		{% if owner == True %}
			<a href="/edit_photo/{{ id }}" target="_blank">редактировать</a>
		{% endif %}
	</div>
	</div>
{% endblock %}