{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>hidden history</title>{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="{% static 'js/jquery.js' %}"></script>
  {% block head %}{% endblock %}
    <script type="text/javascript">

        $(document).ready(function(){

            /* Hamburger menu animation */
            $('#main-menu-button').click(function(){
              $(this).toggleClass('open');
            });

             /* Menu fade/in out on mobile */
            $("#main-menu-button").click(function(e){
                e.preventDefault();
                $("#main-menu-nav").toggleClass('mobile-menu-open');
            });

        });
    </script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
  <div class="main-wrapper">
    <div id="legend-container" class="sidebar-container">
        <div class="main-menu-wrapper">
            <a id="main-menu-button" href="#" class="open-button">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            <div id="main-menu" class="main-menu">
              <nav id="main-menu-nav" class="main-menu-nav">
                  <a href="{% url 'history' %}">история</a>
                  <a href="{% url 'map' %}">интерактивная карта</a>
                  <a href="{% url 'albums' %}">фотоальбом</a>
                  <a href="{% url 'about' %}">о проекте</a>
              </nav>
            </div>
        </div>
    </div>
    <div id="content-wrapper" class="map-wrapper">
      {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </div>
  </div>
</body>
</html>