{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>hidden history</title>{% endblock %}
  <script src="{% static 'js/jquery.js' %}"></script>
  {% block head %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="main-wrapper">
    <div id="legend-container" class="sidebar-container">
        <div class="sidebar-wrapper">
          <h2>Металлургический завод "Серп и молот"</h2>
          <nav class="sidebar-nav">
              <a href="{% url 'map' %}">интерактивная карта</a> |
              <a href="{% url 'albums' %}">фотоальбом</a>
          </nav>
          {% block sidebar %}{% endblock %}
        </div>
    </div>
    <div class="map-wrapper">
      {% block content %}<!-- default content text (typically empty) -->{% endblock %}
    </div>
  </div>
</body>
</html>